* {
	font-family: "Roboto", "Arial", sans-serif;
	z-index: 1;
}

a {
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	text-align: center;
	color: black;
	background-color: slategray;
}

/* nav bar */
nav {
	margin-bottom: 74px;
	z-index: 9;
}

nav img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	background-color: lightcoral;
	transition: opacity 0.5s, transform 0s;
}

nav img:hover {
	opacity: 0.75;
	animation-name: shake;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-end;
}

nav ul {
	text-align: left;
	background-color: lightcoral;
	padding-left: 8%;
	position: fixed;
	width: 100%;
	top: 0;
	font-size: 0;
	border-bottom: 3px solid indianred;
}

nav li {
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 7px;
	background-color: lightcoral;


}

#about {
	width: fit-content;
	cursor: pointer;
}

@keyframes shake {
	0% {
		transform: rotate(4deg);
	}

	50% {
		transform: rotate(-4deg);
	}
}

/* map images */
#map_image_container {
	max-height: 480px;
	max-width: 854px;
	margin: auto;
	margin-bottom: 8px;
	margin-top: 5px;
}

#screenshot {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	border: 3px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	background-color: slategray;
}

/* hint elements */

#map_hint {
	height: 18px;
}

#hint_container {
	margin-top: 16px;
	user-select: none;
}

#hints {
	padding: 0;
}

#hints li {
	display: inline-block;
	width: 64px;
	height: 64px;
	vertical-align: middle;
	line-height: 64px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: lavender;

	pointer-events: auto;
	opacity: 1;

	transition: transform 1s, background-color 0.5s 0.25s, opacity 0.5s 0.5s;
}

#hints li:hover {
	cursor: pointer;
}
#hints li.correct {
	background-color: #6AAA64;
	transform: rotateY(180deg);

	/* counter-animate text */
	.hint_text {
		transform: rotateY(-180deg);
	}

	/* hover */
}

#hints li.incorrect {
	background-color: #A86363;
	transform: rotateY(180deg);

	/* counter-animate text */
	.hint_text {
		transform: rotateY(-180deg);
	}
}

#hints li.disabled {
	pointer-events: none;
	opacity: 0.4;
}

.hint_text {
	font-family: "Rubik Doodle Shadow", "Arial", monospace;
	font-size: 22;
	font-weight: bold;
	display: block;

	transition: transform 1s;
}

/* input */
#input {
	position: relative;
	background-color: white;
	margin-bottom: 0px;
	font-size: 16px;
	font-family: "Consolas", "Monaco", monospace;
	text-align: center;
	border-radius: 3px;
	border-width: 0px;
	width: 350px;
	padding: 8px;
	z-index: 3;
}

#input:focus {
	outline: 3px solid black;
	z-index: 3;
}

#input[type=text]
{
	background-color: whitesmoke;
}

#autocomplete {
	width: 360px;
	position: absolute;
	margin: auto;
	margin-top: 0px;
	left: 0;
	right: 0;
	user-select: none;
	z-index: 2;
	border: none;
	cursor: pointer;
}

#autocomplete ::-webkit-scrollbar {
	width: 11px;
	background: black;
}

#autocomplete ::-webkit-scrollbar-track {
	background:darkgray;
}

#autocomplete ::-webkit-scrollbar-thumb {
	background: #888;
  }
#autocomplete ul {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
	background-color: gray;
	max-height: 155px;
	overflow-y: scroll;
}

#autocomplete li {
	font-family: "Consolas", "Monaco", monospace;
	padding: 5px;
	border-bottom: 2px dashed darkgray;
}

#autocomplete li.active {
	background-color: lavender;
}

#input_history {
	font-family: "Consolas", monospace;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: fit-content;
	background-color: gray;
}



#input_history.border {
	border: 2px solid darkgray;
	padding: 8px;
}

/* styled to match map leaderboard header */
#map_name {
	font-size: 36px;
	font-family: "Noto Serif", "Helvetica", sans-serif;
	font-weight: bold;
	line-height: 0;
	background: #808080;
	background: linear-gradient(to right, #808080 0%, #FFFFFF 50%, #808080 100%);
	width: fit-content;
	padding-left: 8px;
	padding-right: 8px;
	margin: auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(3px 3px 0 rgba(0, 0, 0, 0.65));
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s, line-height 0.5s;
}

#map_name.active
{
	visibility: visible;
	opacity: 1;
	line-height: 1.3;
}

#map_link {
	display: inline-block;
}

/* sharing */
#share_container {
	display: none;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	user-select: none;
}

#share_container li {
	margin-top: 10px;
	display: inline-block;
	width: 128px;
	height: 32px;
	vertical-align: middle;
	line-height: 32px;
	border: 3px solid black;
	border-radius: 10px;
	border-radius: 10px;
}

#twitter {
	background-color: #1DA1F2;
	display: none;
}

#clipboard {
	background-color: lavender;
	display: none;
}

#modal_container {
	display: none;
	position: fixed;
	z-index: 4;
	padding-top: 7%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.2);
}

#modal {
	font-family: "Consolas", monospace;
	background-color: lavender;
	margin: auto;
	border: 3px solid white;
	border-radius: 10px;
	width: 640px;
	opacity: 0.85;
	padding-right: 5px;
	line-height: 22px;
}

#about_text {
	font-family: "Consolas", monospace;
	padding: 28px;
	text-align: left;
}

#about_top,
#about_bottom {
	font-family: "Consolas", monospace;
	text-align: center;
}

#about_extra {
	font-family: "Consolas", monospace
}

#about_text a,
#about_top a {
	font-family: "Consolas", monospace;
	font-weight: bold;
	color: blue;
}

#close {
	color: gray;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 10px;
	user-select: none;
}

#close:hover {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#tooltip {
	font-family: "Consolas", monospace;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

#tooltiptext {
	font-family: "Consolas", monospace;
	opacity: 0;
	width: 120px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding: 5px;

	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	transition: opacity 0.5s;
	visibility: hidden;

}

#tooltip:hover #tooltiptext {
	visibility: visible;
	opacity: 1;
}
